* {
  border: none;
  font-family: "@fontFamily@";
  font-size: @fontSize@px;
  color: #@base07@;
}

window#waybar {
  background: transparent;
  font-size: 2em;
}

.modules-left,
.modules-center,
.modules-right {
  background: transparent;
  margin: 3px 10px;
}

.modules-left > * > *,
.modules-center > * > *,
.modules-right > * > * {
  margin: 3px 1px;
  padding: 5px 7px;
  background: #@base00@;
}

.modules-left > :first-child > *,
.modules-center > :first-child > *,
.modules-right > :first-child > * {
  padding-left: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.modules-left > :last-child > *,
.modules-center > :last-child > *,
.modules-right > :last-child > * {
  padding-right: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.modules-left > :not(:first-child) > *,
.modules-center > :not(:first-child) > *,
.modules-right > :not(:first-child) > * {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.modules-left > :not(:last-child) > *,
.modules-center > :not(:last-child) > *,
.modules-right > :not(:last-child) > * {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#wireplumber:not(.source).muted { color: #@base0A@; }
#idle_inhibitor.activated { color: #@base0A@; }
#battery.charging { color: #@base0B@; }
#battery.warning:not(.charging) { color: #@base0A@; }
#battery.critical:not(.charging) {
  animation: critical-blink steps(8) 1s infinite alternate;
}
@keyframes critical-blink { to { color: #@base08@; } }
