input {
    keyboard {
        xkb {
            layout "us"
            model ""
            rules ""
            variant ""
        }
        repeat-delay 600
        repeat-rate 25
        track-layout "global"
    }
    touchpad {
        tap
        dwt
        natural-scroll
        accel-speed 0.200000
    }
    mouse { accel-profile "flat"; }
    tablet { map-to-output "eDP-1"; }
    touch { map-to-output "eDP-1"; }
}
output "eDP-1" {
    mode "3024x1964@120.000"
}
screenshot-path "~/Pictures/screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }
    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }
    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }
    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }
    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }
}
prefer-no-csd
overview { workspace-shadow { off; }; }
layout {
    gaps 16
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    focus-ring { off; }
    border { off; }
    background-color "transparent"
    default-column-width { proportion 0.500000; }
    preset-column-widths {
        proportion 0.333333
        proportion 0.500000
        proportion 0.666667
    }
    center-focused-column "never"
    always-center-single-column
}
cursor {
    xcursor-theme "phinger-cursors-dark"
    xcursor-size 24
}
binds {
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Alt+L hotkey-overlay-title="Session" { spawn "wlogout"; }
    Mod+C hotkey-overlay-title="Center column" { center-column; }
    Mod+Comma hotkey-overlay-title="Consume into column" { consume-window-into-column; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }
    Mod+Ctrl+Down { move-window-down; }
    Mod+Ctrl+H hotkey-overlay-title="Move column left" { move-column-left; }
    Mod+Ctrl+I hotkey-overlay-title="Move to workspace up" { move-column-to-workspace-up; }
    Mod+Ctrl+J hotkey-overlay-title="Move window down" { move-window-down; }
    Mod+Ctrl+K hotkey-overlay-title="Move window up" { move-window-up; }
    Mod+Ctrl+L hotkey-overlay-title="Move column right" { move-column-right; }
    Mod+Ctrl+Left { move-column-left; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+U hotkey-overlay-title="Move to workspace down" { move-column-to-workspace-down; }
    Mod+Ctrl+Up { move-window-up; }
    Mod+D hotkey-overlay-title="Toggle tabbed" { toggle-column-tabbed-display; }
    Mod+Down { focus-window-down; }
    Mod+Equal hotkey-overlay-title="Grow column" { set-column-width "+10%"; }
    Mod+F hotkey-overlay-title="Maximize column" { maximize-column; }
    Mod+H hotkey-overlay-title="Focus left" { focus-column-left; }
    Mod+I hotkey-overlay-title="Workspace up" { focus-workspace-up; }
    Mod+J hotkey-overlay-title="Focus down" { focus-window-down; }
    Mod+K hotkey-overlay-title="Focus up" { focus-window-up; }
    Mod+L hotkey-overlay-title="Focus right" { focus-column-right; }
    Mod+Left { focus-column-left; }
    Mod+Minus hotkey-overlay-title="Shrink column" { set-column-width "-10%"; }
    Mod+N hotkey-overlay-title="Notifications" { spawn "swaync-client" "-t"; }
    Mod+Period hotkey-overlay-title="Expel from column" { expel-window-from-column; }
    Mod+Q hotkey-overlay-title="Close window" { close-window; }
    Mod+R hotkey-overlay-title="Cycle column width" { switch-preset-column-width; }
    Mod+Right { focus-column-right; }
    Mod+Shift+Ctrl+S hotkey-overlay-title="Screenshot window" { screenshot-window; }
    Mod+Shift+E hotkey-overlay-title="Quit" { quit; }
    Mod+Shift+Equal hotkey-overlay-title="Grow window" { set-window-height "+10%"; }
    Mod+Shift+F hotkey-overlay-title="Fullscreen" { fullscreen-window; }
    Mod+Shift+I hotkey-overlay-title="Shift workspace up" { move-workspace-up; }
    Mod+Shift+Minus hotkey-overlay-title="Shrink window" { set-window-height "-10%"; }
    Mod+Shift+P hotkey-overlay-title="Power off monitors" { power-off-monitors; }
    Mod+Shift+S hotkey-overlay-title="Screenshot" { screenshot; }
    Mod+Shift+Slash { show-hotkey-overlay; }
    Mod+Shift+U hotkey-overlay-title="Shift workspace down" { move-workspace-down; }
    Mod+Space hotkey-overlay-title="Launcher" { spawn-sh "pkill fuzzel || fuzzel"; }
    Mod+T hotkey-overlay-title="Terminal" { spawn "alacritty"; }
    Mod+U hotkey-overlay-title="Workspace down" { focus-workspace-down; }
    Mod+Up { focus-window-up; }
    XF86AudioLowerVolume { spawn "volumectl" "-u" "down"; }
    XF86AudioMicMute { spawn "volumectl" "-m" "toggle-mute"; }
    XF86AudioMute { spawn "volumectl" "toggle-mute"; }
    XF86AudioNext { spawn "playerctl" "next"; }
    XF86AudioPlay { spawn "playerctl" "play-pause"; }
    XF86AudioPrev { spawn "playerctl" "previous"; }
    XF86AudioRaiseVolume { spawn "volumectl" "-u" "up"; }
    XF86LaunchA { spawn-sh "pkill fuzzel || fuzzel"; }
    XF86MonBrightnessDown { spawn "lightctl" "down"; }
    XF86MonBrightnessUp { spawn "lightctl" "up"; }
    XF86Sleep { spawn "swaylock"; }
}
window-rule {
    geometry-corner-radius 10.000000 10.000000 10.000000 10.000000
    clip-to-geometry true
}
window-rule {
    background-effect {
        blur true
    }
}
layer-rule {
    match namespace="^awww.*$"
    place-within-backdrop true
}
layer-rule {
    match namespace="^launcher$" // fuzzel
    background-effect {
        blur true
    }
}
xwayland-satellite { path "xwayland-satellite"; }

environment {
    ELECTRON_OZONE_PLATFORM_HINT "wayland"
    NIXOS_OZONE_WL "1"
}
