/* left */
#waybar {
    border: none;
    border-radius: 0;
    min-height: 31px;
    background: transparent;
    color: @base06;
    font-size: 1.15rem;
}

.modules-left {
    margin-left: 16px;
}

.modules-right {
    padding-right: 16px;
}

.module {
    margin-top: 8px;
    background-color: alpha(@base00, 0.55);
    padding: 0.2rem 1rem;
}

/* modules-left */

#custom-voxtype {
    border-radius: 10px;
}

#workspaces {
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
}

#workspaces button {
    color: @base06;
    padding: 0.2rem 0.2rem;
}

#workspaces button.active {
    color: @base0D;
}

#workspaces button:hover {
    background-color: alpha(@base00, 0.95);
}

#window {
    border-radius: 10px;
}

#title {
    border-radius: 10px;
    font-size: 0.8rem;
}

/* right */
#idle_inhibitor {
    border-radius: 10px;
    margin-right: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#idle_inhibitor.activated {
    background-color: alpha(mix(@base0D, @base00, 0.75), 0.55);
}

#cpu,
#memory,
#temperature {
    padding: 0.2rem 0.35rem;
}

#cpu {
    border-radius: 10px 0 0 10px;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
}

#temperature {
    border-radius: 0 10px 10px 0;
    margin-right: 0.5rem;
    padding-right: 0.5rem;
}

#battery {
    color: @base0B;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 10px;
}

#battery.charging {
    color: @base0B;
}

#battery.warning:not(.charging) {
    color: @base08;
}

#clock {
    color: @base0D;
    border-color: @base0D;
    border-radius: 10px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-weight: bold;
}

#tray {
    min-width: 50px;
    margin-left: 0.5rem;
    border-radius: 10px 10px 10px 10px;
}
